<!-- Created By : Pham Nguyen Binh -->
<div class="content-wrapper">
	<section class="content">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Danh sách học sinh</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="studentTable" class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th class="text-center"> STT</th>
							<th class="text-center"> Họ và đệm</th>
							<th class="text-center"> Tên</th>
							<th class="text-center"> Lớp</th>
							<th class="text-center"> Trường</th>
							<th class="text-center"> Người giới thiệu </th>
							<th class="text-center"> Họ tên bố/mẹ </th>
							<th class="text-center"> Điện thoại</th>
							<th class="text-center"> Ngày nhập học </th>
							<th class="text-center"> Sửa</th>
							<th class="text-center"> Xóa</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let student of students; index as i">
							<td class="text-center">{{i +1}}</td>
							<td class="pointer" data-toggle="modal" data-target="#modal-default" (click)="setCurrentId(student._id)">{{student.sur_middle_name}} </td>
							<td class="pointer" [routerLink]="['/detail', student._id]">{{student.first_name}}</td>
							<td class="pointer text-center" [routerLink]="['/detail', student._id]">{{student.class}}</td>
							<td class="pointer text-center" [routerLink]="['/detail', student._id]">{{student.school}}</td>
							<td class="pointer" [routerLink]="['/detail', student._id]">{{student.referral}}</td>
							<td class="pointer" [routerLink]="['/detail', student._id]">{{student.parent_name}}</td>
							<td class="pointer text-center" [routerLink]="['/detail', student._id]">{{student.phone | phone}}</td>
							<td class="pointer text-center" [routerLink]="['/detail', student._id]">{{student.start_date | date:"dd/MM/yyyy"}}</td>
							<!-- <td><button [routerLink]="['update', i]" class="w3-button w3-blue">Sửa</button></td> -->
							<td>
								<button [routerLink]="['/updateStudent', student._id]" mat-raised-button color="primary">Sửa</button>
							</td>
							<td>
								<tr>
									<button (click)="deleteStudent(student._id);" mat-raised-button color="warn">Xóa</button>
								</tr>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
		<div class="modal fade" id="modal-default">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<app-student-details [studentId]="selectedId"></app-student-details>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- Created By : Pham Nguyen Binh -->